/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  border-bottom-color: #FFF;
}

/* Custom default button */
.btn-default,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 0px solid #fff;
}


/*
 * Base structure
 */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../gif-load.gif) center no-repeat #000;
}

html,body{
  background: no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.navbar-form {
  box-shadow: none;
 }
 h3 {
  font-family: 'Cookie', cursive;
 }
.cover h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.cover {
  padding: 0 20px;
  font-family:  Helvetica;
}
.cover .btn-sm {
border-radius: 15px;
  font-weight: bold;
}
.alert {
  background-image: none;
  box-shadow:none;
  border:none;
  }
.alert-warning {
  background-color:transparent;
  text-align: center;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



.feature-list {
    margin-top: 300px;

}

.show {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: transparent;
}
.masthead-nav1 {
  margin-top: 100px;
}
.masthead-nav1 > li {
  display: inline-block;
}
.masthead-nav1 > li + li {
  margin-left: 20px;
}
.masthead-nav1 > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav1 > li > a:hover,
.masthead-nav1 > li > a:focus {
  background-color: transparent;
  color: #fff;
}
.masthead-nav1 > .active > a,
.masthead-nav1 > .active > a:hover,
.masthead-nav1 > .active > a:focus {
  color: #fff;
}
@media (min-width: 768px) {
  .masthead-nav1 {
    float: center;
  }
}